@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');

html{
  background: #654ea3;
  background: linear-gradient(to right #654ea3);

}
.App {
  text-align: center;
  background: #654ea3;
  background: linear-gradient(to right, #eaafc8, #654ea3);
  width: 100vw;

  
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.details-container{
  margin: 10px;
  color: white;
  font-size: large;
  text-decoration: wavy;
  background: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 100%;
  width: 100%;
}

.test {
  /* border: white 1px solid; */
  gap: 10px;
}



.moviebanner:hover {
    transition-timing-function: ease-in-out;
    -moz-box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
    box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
    transform: scale(1.03);
  }



.header-image{
  border: solid black 10px;
  display:flex;
  height:81vh;
  width: 100%;

}
.card-container{
  margin: 20px;
  /* border: solid black 10px; */
  width: 320px;
  height: 320px;
  margin-bottom: 30px;
  transition:
    0.7s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    box-shadow 0.7s;
}
.movie-poster{
  height: 300px;
  width:200px;
  border: solid black 1px;
  border-radius: 10px;

  transition:
    0.7s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    box-shadow 0.7s;
}
a{
  text-decoration: none;
  font-size: large;
  text-emphasis: bold;
}
.facts{
  list-style: none;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Amaranth', sans-serif;
}
.ast{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.funfacts{
/* border: white solid 10px; */
font-family: 'Amaranth', sans-serif;
font-size: larger;
}
.fact{
  margin:10px;
  padding: 10px;
}
.moviebanner{
  height:300px;
  width:300px;
}


.movieinfo {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
  padding:10px;
}

.movieinfo:hover {
  background: rgba(0, 0, 0, 0.4);
}

.movieinfo p {
  margin: 0.3rem 1rem 0.3rem 1rem;
  font-size: 1.2rem;
  font-family: 'Amaranth', sans-serif;
  font-size: 2rem;
}